html, body {
    width: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
}

body, header, section:nth-of-type(odd) {
    background-color: #254117;
}

:root {
    font-family: "Vollkorn";
    font-size: 1em;
    color: white;
}

p, a {
    color: white;
}

button:hover {
    cursor: pointer;
}

header, section {
    padding: 40px;
}

section a {
    text-decoration-style: dotted;
    text-decoration-thickness: 3px;
}

@media (min-width: 767px) {
    section a {
        text-decoration-thickness: 5px;
    }
}


section a:hover, section a:focus, section a:active, section:nth-of-type(2n+1) a:hover, section:nth-of-type(2n+1) a:focus, section:nth-of-type(2n+1) a:active {
    color: #ff8040 !important;
}


/* Menu */

.desktop {
    display: none;
}

@media (min-width: 1250px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
}

header h1, header a {
    font-size: 1.5rem;
}

header h1 {
    margin: 0;
}

header a {
    text-decoration: none;
}

h2, header a:hover, header a:active, header a:focus {
    font-weight: bold;
}

header nav > ul:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 767px) and (orientation: portrait) {
    header nav ul:first-of-type {
        align-items: flex-start;
    }
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav div {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: #254117;
    pointer-events: none;
}

#menu-button {
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
}

#menu-button img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.pages {
    display: flex;
    flex-direction: column;
    padding: 0 40px 40px 40px;
    margin-right: 40px;
    line-height: 1.75;
    pointer-events: auto;
}

@media(min-width: 1250px) {
    header nav div {
        top: 40px;
        justify-content: center;
        background-color: transparent;
    }
    .pages {
        flex-direction: row;
        width: auto;
        padding: 0;
        margin: 0;
        line-height: auto;
    }
    .pages li:not(:first-of-type) {
        margin-left: 20px;
    }
}

.pages li.mobile {
    margin-top: 10px;
}

.pages a {
    display: inline-block;
}

.social-medias img {
    width: 40px;
    height: 40px;
    display: block;
}


/* Sections */

section, section > div {
    display: flex;
}

section {
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.25;
    scroll-margin-top: 122px;
}

@media (min-width: 767px) {
    section {
        font-size: 2rem;
    }
}

section:not(:first-of-type) {
    padding: 40px;
}

@media (min-width: 767px) {
    section:not(:first-of-type) {
        padding: 75px 40px;
    }
}

section:nth-of-type(even) {
    background-color: white;
}

section:nth-of-type(odd) h2, section:nth-of-type(even) h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 40px;
}

@media (min-width: 767px) {
    section:nth-of-type(odd) h2, section:nth-of-type(even) h2 {
        font-size: 2.5rem;
        margin-bottom: 75px;
    }
}

section:nth-of-type(even) h2, section:nth-of-type(even) p, section:nth-of-type(even) a, section:nth-of-type(even) li {
    color: #254117;
}

section:nth-of-type(odd) h2, section:nth-of-type(odd) p, section:nth-of-type(odd) a {
    color: white;
}

section:nth-of-type(even) h2 {
    color: #254117;
}

section > div {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 900px) {
    section > div {
        width: 90%;
    }
}

@media (min-width: 1250px) {
    section > div {
        width: 75%;
    }
}

@media (min-width: 1600px) {
    section > div {
        width: 50%;
    }
    #home > div  {
        width: 60%;
    }
}

/* Home */

#home {
    padding: 40px;
}

#home img {
    width: 100%;
}

@media (min-width: 767px) {
    #home {
        padding-bottom: 75px;
    }
    #home img {
        width: 600px;
    }
}

#home .sun {
    width: 3rem;
    margin: 75px;
}

@media (min-width: 767px) {
    #home .sun {
        width: 4rem;
    }
}

#home div p {
    margin: 0;
    text-align: center;
}

#home .activity-main {
    margin-bottom: 75px;
}

#home .activity-main p {
    font-size: 2rem;
    font-weight: bold;
}

@media (min-width:767px) {
    #home .activity-main p {
        font-size: 2.5rem;
    }
}

#home .activity-details div p {
    font-size: 1.5rem;
}

#home .activity-details {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
}

#home .activity-details div {
    width: 100%;
}

@media (orientation: landscape) {
    #home .activity-details div {
        width: 75%;
    }
}

@media (min-width: 767px) {
    #home .activity-details div {
        width: 30%;
        max-width: 300px;
    }
}

#home .activity-details div:not(:last-of-type) {
    margin-bottom: 40px;
}

@media (min-width: 767px) {
    #home .activity-details {
        flex-direction: row;
        justify-content: space-between;
    }
    #home .activity-details div:not(:last-of-type) {
        margin-bottom: 0;
    }
}

/* About */

.text-container div:not(:last-of-type) {
    margin-bottom: 40px;
}

.text-container p {
    text-align: center;
}

.text-container h3 {
    color: white;
    background-color: #254117;
    padding: 0 10px;
    display: inline-block;
}

.img-container img {
    margin: 20px 0;
}

.img-container img {
    max-width: 100%;
    max-height: 60vh;
}

/* News */

#news {
    padding-left: 0;
    padding-right: 0;
}

#news > div, #gallery-container {
    width: 100%;
}

#gallery-container {
    display: grid;
}

#gallery {
    display: flex;
    align-items: flex-start;
    /* overflow-x: auto; */
    overflow-x: hidden;
    overflow-y: hidden;
}

#gallery figure, #gallery figure img {
    width: calc(100vw - 80px);
}

@media (min-width: 767px) {
  /*, #gallery figure */
    #gallery figure img {
        /* width: 30vw; */
        max-height: 50vh;
    }
}

#gallery figure:not(:first-of-type) {
    margin: 0 40px 0 0;
}
#gallery figure:first-of-type {
    margin: 0 40px;
}

#gallery figure img {
    margin-bottom: 20px;
}

#gallery figcaption {
    margin-bottom: 40px;
}

#gallery-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#gallery-buttons-container button {
    margin: 0 40px 40px 40px;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 0;
    color: #254117;
    background-color: white;
    border-radius: 50%;
    border: none;
}

#gallery-buttons-container button:hover, #gallery-buttons-container button:focus, #gallery-buttons-container button:active {
    color: #254117;
    background-color: #ff8040;
}

#gallery-buttons-container button:disabled {
    pointer-events: none;
    opacity: 0.25;
    background-color: white;
}

.emphasize {
    font-size: 2rem;
    font-weight: bold;
}

.emphasize p {
    margin: 0;
}

@media (min-width: 767px) {
    .emphasize {
        font-size: 2.5rem;
    }
}

/* Outlets */

#outlets {
    width: calc(100% - 80px);
}

#outlets > div {
    width: 100%;
}

#outlets ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#outlets .sun, #outlets > div li p {
    display: inline-block;
}

#outlets > div > ul li p {
    margin: 0;
}

#outlets > div > ul > li:not(:last-of-type) {
    margin-bottom: 40px;
}

#landscape-container {
    display: none;
    margin-top: 75px;
}

@media (min-width: 767px) {
    #landscape-container {
        display: block;
    }
}

#landscape-container img {
    width: 100%;
}

#outlets .sun {
    width: 1.5rem;
    margin-right: 5px;
    vertical-align: top;
}


/* Contact */

#contact > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#contact > div > div > div, #contact > div > div > address:first-of-type {
    margin-bottom: 75px;
}

#contact > div > div > div {
    width: 150px;
    border: 2px solid white;
    padding: 20px;
}

#contact > div > div > div img {
    width: 100%;
}

#contact address {
    font-style: normal;
}

#contact address p {
    margin: 0;
}

/* Map */

#map {
    padding: 0;
    position: relative;
    margin-bottom: 40px;
    flex-direction: column;
}

@media (min-width: 767px) {
    #map {
        margin-bottom: 75px;
    }
}

#map > div, #map > div img {
    width: 100%;
}

#map > div:first-of-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#map > div + div {
    position: relative;
    margin-top: -20vw;
}

@media (min-width: 767px) {
    #map > div + div {
        margin-top: -30vw;
    }
}

#map-container {
    margin: 0 40px;
}


@media (min-width: 767px) {
    #map-container {
        position: relative;
        left: -100px;
    }
}

#map-container img {
    width: 100%;
}

section#map:nth-of-type(2n) p, section#map:nth-of-type(2n) a {
    color: white;
}

section#map:nth-of-type(2n) p {
    margin: 75px 40px 0 40px;
}

section#map:nth-of-type(2n), #credits {
    background-color: #254117;
}

/* Credits */

#credits > div {
    width: 100%;
}

#credits div div:first-of-type {
    margin-bottom: 75px;
}

#credits div div:last-of-type {
    margin-top: 160px;
    display: none;
}

@media (min-width: 767px) {
    #credits div div:last-of-type {
        display: block;
    }
}

#credits img {
    width: 100%;
}

#credits dl, #credits dd, #credits p {
    margin: 0
}


/* Global */

.current {
    font-weight: bold;
}

.hide {
    display: none !important;
}

.strong {
    font-weight: bold;
}

#home .sun img, #outlets .sun img {
    width: 100%;
}


/* Fonts */

@font-face {
	font-family: "Vollkorn";
	src: url("../fonts/vollkorn-regular.woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
	font-family: "Vollkorn Italic";
	src: url("../fonts/vollkorn-italic.woff2");
    font-style: italic;
    font-weight: normal;
}

@font-face {
	font-family: "Vollkorn Bold";
	src: url("../fonts/vollkorn-bold.woff2");
    font-style: normal;
    font-weight: bold;
}
